* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.modal {
    display: none;
}

.modal[data-status="open"] {
    display: flex;
    flex-direction: column;
}